*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
    padding: 16px;
}

header {
    background-color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 250px;
    margin-left: 0px;
}

nav {
    width: 100%;
    
}

.nav-li{
    list-style-type: none;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

footer {
    background-color: #d00000;
    text-align: center;
    padding: 16px 0;
}

.footer{
    font-size: 20px;
    color: #000;
}

.top{
    display: flex;
}
.top-content {
    padding: 16px 16px;
}

.bistro{
    padding: 16px;
    border-radius: 25px;

}
.large {
    font-size: 24px;
    padding : 16px 0;
}

.medium {
    font-size: 18px;
    padding : 16px 0;
}

.red {
    color: #d00000;
}

.centre {
    text-align: center;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.black {
    color: #000
}

.white {
    color: #fff;
}

.top-content ul {
    display: flex;
    flex-direction: column;
}

.middle {
    display:flex;
    padding: 0 16px;
}

.middle-row {
    flex-direction: row;
}

.middle-column {
    flex-direction: column;
}

.bottom {
    display: flex;  
    padding-bottom: 16px;
}

.bottom img {
    padding: 16px 0 16px 0;
    width: 500px;
    margin-right: 0px;
}

.bottom-content {
    background-color: rgb(235, 125, 125);
}

.bottom-content p {
    padding:0 16px 16px 16px;
}

.centre-image {
    justify-content: center;
    align-items: center;
}

.padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.image-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
